p{
    background-color:blanchedalmond;
    padding-block:initial;
    margin:20px;
    outline:double;
     
}

h1{
    background-color:bisque;
    padding: auto;
    margin: 20px;
    outline-style:double;
}
table{

    border-color: black;
    margin: 10px;
}
td{
    border-color: blue;
  
}

ol{
    color: brown;
}
.center{
    margin:auto;
    padding:50px;
    width: auto;
    border-color: black;
    outline: dotted;
    background-color: aquamarine;
}
